h1 {
    text-align: center;
    padding: 5%;
}

body {
    text-align: center;
    background-color: rgb(255, 255, 255);
}

div {
    width: 300px;
    height: 100px;
    background-color: rgb(55, 0, 77);
    border: 1px solid black;
    color: white;
    text-align: center;
    display: inline-block;
    margin-top: 5%;

}

/* CSS 2D Transform */

#Translate {
    width: 300px;
    height: 100px;
    background-color: rgb(55, 0, 77);
    border: 1px solid black;
    transform: translate(50px,10px);
    text-align: center;
}

#Rotate {
    width: 300px;
    height: 100px;
    background-color: rgb(55, 0, 77);
    border: 1px solid black;
    color:  white;
    transform: rotate(20deg);
    text-align: center;
}

#Scale {
    width: 300px;
    height: 100px;
    background-color: rgb(55, 0, 77);
    border: 1px solid black;
    color:  white;
    transform: scale(0.5);
}

#Skew {
    width: 300px;
    height: 100px;
    background-color: rgb(55, 0, 77);
    border: 1px solid black;
    color:  white;
    transform: skew(20deg);
}

#Matrix {
    width: 300px;
    height: 100px;
    background-color: rgb(55, 0, 77);
    border: 1px solid black;
    color:  white;
    transform: matrix(0.70071, -0.9071, 0.071, 0.7071, 11, 10);
    margin-top: 10%;
}

/* CSS 3D Transform */
#RotateX {
    width: 300px;
    height: 100px;
    background-color: rgb(55, 0, 77);
    border: 1px solid black;
    color:  white;
    transform: rotateX(150deg);
}

#RotateY {
    width: 300px;
    height: 100px;
    background-color: rgb(55, 0, 77);
    border: 1px solid black;
    color:  white;
    transform: rotateY(150deg);
}

#RotateZ {
    width: 300px;
    height: 100px;
    background-color: rgb(55, 0, 77);
    border: 1px solid black;
    color:  white;
    transform: rotateZ(150deg);
}

